
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.s{
    background-color: #4CAF50;
    color: white; 
    border: none; 
    padding: 15px 25px; 
    text-align: center; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.no{
    background-color: #ff4d4d;
    color: white; 
    border: none; 
    padding: 15px 25px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
}
